@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: white;
}

header {
  background-color: #ffc6f2;
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}
header nav {
  margin-right: auto; 
}
header .container {
  max-width: 100%; 
}

header nav a {
  color: rgb(255, 255, 255);
}
header.scrolled {
  background-color: rgb(255, 255, 255);
  opacity: 0.98;
}
header.scrolled {
  color: #000000;
}
header.scrolled .scrolled-link {
  color: #000000; 
}

.bg-custom.con {
  background-color: #ffc6f2;
}
.logo-img {
  width: 200px;
  height: auto;
}
.banner-img {
  width: 70%;
  height: auto;
}

.header-element {
  background: linear-gradient(to bottom, #ffc6f2 70%, #ffffff 50%);
  height: 50%;
}

.hero {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0b0b0b;
  padding: 48px 0 48px 0;
}
.hero-content {
  max-width: 600px;
  padding: 32px 0 32px 0;
}
.hero-content h1 {
  font-size: 3em;
  margin-bottom: 5px;
}
.hero-content p {
  font-size: 1em;
  margin-bottom: 30px;
}

.cta-btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ff6b81;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-size: 15px;
}
.cta-btn:hover {
  background-color: #ff4f65;
}
section {
  height: 100vh;
}
.section-title{
  height: 200px;
}
.section-title h2 {
  margin-bottom: 30px;
}
.header-extenstion {
  background-color: #ffc6f2;
  height: 15vh;
  margin-bottom: 29%;
}
.header-image img {
  width: 65%;
}
/* Sched */
.single-features img {
  border-radius: 50%;
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  overflow: hidden; 
}
.single-features h3 {
  padding: 60px 0 60px 0;
}
.custom-justify {
  text-align: justify;
}
.about-section {
  
  padding-top: 100px;
}
.about-section .col-md-6 .onehundred{
  margin-bottom: 50px;

}
.member img {
  height: 20vh;
  width: 20vh;

}
.about-section.pb-custom {
  height: auto;
}

.member-details {
    text-align: left;
}

.member-role {
    font-size: 14px;
}

.quote {
    margin-top: 10px;
    background-color: #f0f0f0; 
}

.blockquote {
    font-size: 16px;
    margin: 0;
}
.member-details {
  text-align: left;
}

.member-role {
  font-size: 14px;
}

.blockquote {
  font-size: 16px;
  margin: 0;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .footer-links {
  text-align: center;
}

.footer .footer-copyright {
  text-align: right;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}
.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagramr */
.fa-instagram {
  background: #000000;
  color: white;
}