@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    background-color: white;
}   

header nav a {
    color:rgb(255, 255, 255);

}
header.scrolled {
    background-color: rgb(255, 255, 255);
    opacity:0.98;
}
header.scrolled nav a {
    color: #000000;
}

.logo {
    display: flex;
    margin-top: 7px;
    margin-left: 30px;
}
.logo img {
    width:170px;
    margin-top: -3.6px;
}
nav {
    float: right;
    margin-right: 20px;
}
nav ul {
    list-style: none;
    margin-top: 0;
}
nav ul li {
    display: inline-block;
    margin-left: 50px;
    position:relative;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    display:block;
    text-align: center;
}

nav ul li ul.dropdown {
    width: 367px;
    background: #ffffff;
    position: absolute;
    z-index: 999;
    display: none; 
    opacity: 0;
    padding: 10px 0;
    border: 2px solid #000000;

}
nav ul li:hover ul.dropdown {
    display: block;
    opacity: 1;
}

nav ul li ul.dropdown li {
    display: block;
    padding: 5px 0;

}
nav ul li ul.dropdown li a {
    color: #000000;
    text-decoration: none;
    margin-right:50px;
    font-size: 16px;
    padding: 10px 0px;
    text-align: left;
    position:relative;
    transition: background-color 0.3s ease;

}
nav ul li ul.dropdown li a::after{
    content: '';
    position:absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li ul.dropdown li a:hover::after {
    background-color: black
}
nav ul li:hover ul.dropdown {
    display: block;
}

.intro {
    position:relative;
    font-size: 1rem;
}
div {
    display:block;
    unicode-bidi: isolate;
}
p  {
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.compintrofirstblock {
    margin-top: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    lines
}